/* Main CSS file */
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  background: #bedbf9;
  color: white;
}

.aligncenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 460px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(353deg, #664de5 75%, #ffffff 60%);
  background: -o-linear-gradient(353deg, #664de5 75%, #ffffff 60%);
  background: -moz-linear-gradient(353deg, #664de5 75%, #ffffff 60%);
  background: linear-gradient(353deg, #664de5 75%, #ffffff 60%);
  box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 11px 0px rgba(0,0,0,0.75);
padding: 10%;
border-radius: 20px;
  /* color:#664de5; */
}

.tcenter {
  text-align: center;
}

.inputfeilddesign {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border-color: #ffffff24;
  padding-left: 5px;
  font-size: medium;
 
}

.checkboxstyle {
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 10px;
  border-color: white;

}

.mtp {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkboxdiv label {
  position: relative;
  top: -4px;
  left: 10px;

}

.forgetpass {
  font-size: small;
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
}
.heading{
    color:#664de5; 
    font-size: 38px;
    font-weight: 600;
    margin-top: 2px;
}
.headingdiv{
  margin-bottom: 50px;
}
.fontsmall{
font-size: small;
}
.btnstyle{
  background: white;
  width: 60%;
  height: 50px;
  border-radius: 30px;
  border-color: white;
  color: #664de5; 
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 600;
}
.btnstyle:hover{
  background: rgb(217, 217, 217);}
.pbottom{
  position: relative;
  margin-top: 20px;
}
.boxsignedin{
  background:#664de5; 
  text-align: center;
}
.svgborder{
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  right: -60px;
}
.emaillabel{
  margin-bottom: 5px;margin-top: 70px;
}
@media(max-width:550px){
  .box{
    height: auto;
width: 100%;
  }
  body {
    width: 100%;
  }
  .svgborder{
    right: 0;
  }
  .forgetpass {
   
    margin-left: 0%;
  }
}

input:invalid {
  border-color: red;
}
